@import "../../variables.scss";

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.weekly-row {
    display: flex;
}

.calendar-header {
    position: sticky;
    top: 0;
}

.weekly-row:nth-child(even) {
    background: mat-color($primary, 50);
}

.weekly-body .weekly-row {
    min-height: 3em;
}

.calendar-header {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
}

.user-label {
    width: 20%;
    align-self: center;
    flex: 0 0 auto;
}

$date-cell-count: 5;
.date-space {
    width: 80%;

    .date-body {
        margin: 0.5em;
        display: flex;
    }

    .date-cell {
        width: calc(100% / #{$date-cell-count});
    }

    .event-item {
        @include mat-elevation(2);
        font-size: smaller;
        border-radius: 5px;
        background: mat-color($accent, 50);
        color: mat-color($accent, 50-contrast);
        margin: 2px;
        padding: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .start-label {
            font-size: smaller;
            vertical-align: middle;
        }
        .end-label {
            font-size: smaller;
            vertical-align: middle;
        }
        .subject-label {
            display: block;
            padding: 0.25em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

$nav-button-size: 25px;
.calendar-header {
    .date-space {
        position: relative;
    }
    .date-cell:first-child > p {
        margin-left: $nav-button-size;
    }
    .date-cell:last-child > p {
        margin-right: $nav-button-size;
    }
    .date-nav-button {
        position: absolute;
        top: 0;
        min-width: 0;
        width: $nav-button-size;
        height: 100%;
        padding: 0;
        background: rgba($color: #000000, $alpha: 0.2);
        color: inherit;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}