<div class="weekly-frame">
    <div class="weekly-row calendar-header">
        <label class="user-label"></label>
        <div class="date-space" *ngIf="displayDays?.length">
            <div class="date-body">
                <div class="date-cell" *ngFor="let str of displayDays">
                    <p>{{str}}</p>
                </div>
            </div>
            <button class="date-nav-button left" mat-flat-button (click)="moveDate(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button class="date-nav-button right" mat-flat-button (click)="moveDate(1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
    </div>
    <div class="weekly-body" *ngIf="data?.length">
        <div class="weekly-row" *ngFor="let user of data">
            <label class="user-label">{{user.displayName}}</label>
            <div class="date-space" *ngIf="dayStrList?.length && user.daysEvents">
                <div class="date-body">
                    <div class="date-cell" *ngFor="let str of dayStrList">
                        <ng-container *ngIf="user.daysEvents[str]">
                            <div class="event-item" *ngFor="let event of user.daysEvents[str]">
                                <span *ngIf="!event.isAllDay" class="start-label">{{event.startDate | date:"HH:mm"}}</span>
                                <span *ngIf="!event.isAllDay" class="end-label">-{{event.endDate | date:"HH:mm"}}</span>
                                <span class="subject-label">{{event.subject}}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>